# this rile fixes stylus in gnome when 'rotation = <90>' patch applied on device tree

ACTION=="add|change", KERNEL=="event[0-7]*", ATTRS{name}=="NVTCapacitivePen", ENV{LIBINPUT_CALIBRATION_MATRIX}="0 1 0 -1 0 1"
